.DS_Store
*.class
*test.jar
*model.jar
eclipselink*.jar
org.eclipse.persistence.core*jar
org.eclipse.persistence.dbws*jar
org.eclipse.persistence.jpa*jar
org.eclipse.persistence.moxy*jar
org.eclipse.persistence.sdo*jar
org.eclipse.persistence.nosql*jar
org.eclipse.persistence.oracle*jar
org.eclipse.persistence.extension*jar
bin/
target/
class/
classes/
!/jpa/org.eclipse.persistence.jpa/src
run/
build/
build-server/
reports/
p2repo/
/utils/eclipselink.utils.rename/package-rename.jar
/jpa/eclipselink.jpa.test/jpa-performance.jar
/jpa/eclipselink.jpa.test/jpa-performance2.jar
foundation/targets/target.oracle/oracle.libs/*.jar
*.iml
.idea*
out/
eclipselink_extracted/*
/eclipselink.zip
/eclipselink-src.zip
test_*.properties
.sonar
/coverage-report/
/jacoco.out
