.DS_Store
*.class
*test.jar
*model.jar
eclipselink*.jar
org.eclipse.persistence.core*jar
org.eclipse.persistence.dbws*jar
org.eclipse.persistence.jpa*jar
org.eclipse.persistence.moxy*jar
org.eclipse.persistence.sdo*jar
org.eclipse.persistence.nosql*jar
org.eclipse.persistence.oracle*jar
bin/
target/
class/
classes/
run/
build/
foundation/org.eclipse.persistence.core/src/org/eclipse/persistence/Version.java
/utils/eclipselink.utils.rename/package-rename.jar
/jpa/eclipselink.jpa.test/jpa-performance.jar
/jpa/eclipselink.jpa.test/jpa-performance2.jar
