#source files
* text=auto
*.allpermissions text
*.bak text
*.cmd text eol=crlf
*.dtd text
*.dpr text
*.g text
*.html text diff=html
*.java text diff=java
*.md text
*.MF text
*.mf text
*.mwp text
*.oxm text
*.properties text
*.sh text eol=lf
*.sql text
*.txt text
*.xjb text
*.xml text
*.xsd text
*.xsl text

#eclipse specific files:
*.component text
.jsdtscope text
*.launch text
*.prefs text
**/.project text

#binaries
*.zip binary
*.jar binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.class binary
