#
# Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0.
#
# SPDX-License-Identifier: EPL-2.0
#

language: java
sudo: required

branches:
  except:
    - /^[12].[0-6].*/

addons:
  apt:
    sources:
      - mysql-5.7-trusty
    packages:
      - libmysql-java
      - mysql-server
      - mysql-client

env:
  global:
    - ANT_HOME=$HOME/apache-ant-1.10.2
    - M2_HOME=/usr/local/maven-3.5.2
  matrix:
    - TEST_TARGET=test-core
    - TEST_TARGET=test-jpa22
    - TEST_TARGET=test-moxy
    - TEST_TARGET=test-sdo
    - TEST_TARGET="test-jpa-jse test-ext test-jpql test-wdf test-jpars test-dbws test-dbws-builder test-osgi"
    - TEST_TARGET=test-lrg-server

jdk:
  - oraclejdk8
  - oraclejdk9

cache:
  directories:
    - .autoconf
    - $HOME/.m2
    - $HOME/extension.lib.external

before_install:
  - sudo mysql_upgrade
  - sudo mysql -u root -e "use mysql; update user set authentication_string=PASSWORD('root') where User='root'; update user set plugin='mysql_native_password';FLUSH PRIVILEGES;CREATE DATABASE IF NOT EXISTS ecltest;"
  - sudo service mysql restart

install:
  - mkdir $HOME/extension.lib.external || true
  - wget -nc http://repo1.maven.org/maven2/junit/junit/4.12/junit-4.12.jar -O $HOME/extension.lib.external/junit-4.12.jar || true
  - wget -nc http://repo1.maven.org/maven2/org/hamcrest/hamcrest-core/1.3/hamcrest-core-1.3.jar -O $HOME/extension.lib.external/hamcrest-core-1.3.jar || true
  - wget -nc http://repo1.maven.org/maven2/org/jmockit/jmockit/1.35/jmockit-1.35.jar -O $HOME/extension.lib.external/jmockit-1.35.jar || true
  - wget -nc http://repo1.maven.org/maven2/org/hibernate/validator/hibernate-validator/6.0.7.Final/hibernate-validator-6.0.7.Final.jar -O $HOME/extension.lib.external/hibernate-validator-6.0.7.Final.jar || true
  - wget -nc http://repo1.maven.org/maven2/org/jboss/logging/jboss-logging/3.3.0.Final/jboss-logging-3.3.0.Final.jar -O $HOME/extension.lib.external/jboss-logging-3.3.0.Final.jar || true
  - wget -nc http://repo1.maven.org/maven2/org/glassfish/javax.el/3.0.1-b08/javax.el-3.0.1-b08.jar -O $HOME/extension.lib.external/javax.el-3.0.1-b08.jar || true
  - wget -nc http://repo1.maven.org/maven2/com/fasterxml/classmate/1.3.1/classmate-1.3.1.jar -O $HOME/extension.lib.external/classmate-1.3.1.jar || true
  - wget -nc http://apache.belnet.be/ant/binaries/apache-ant-1.10.2-bin.tar.gz -O $HOME/extension.lib.external/apache-ant-1.10.2-bin.tar.gz || true
  - wget -nc http://download.jboss.org/wildfly/12.0.0.Final/wildfly-12.0.0.Final.tar.gz -O $HOME/extension.lib.external/wildfly-12.0.0.Final.tar.gz || true
  - tar -x -z -C $HOME -f $HOME/extension.lib.external/apache-ant-1.10.2-bin.tar.gz

before_script:
  - env | sort
  - echo "extensions.depend.dir=$HOME/extension.lib.external" >> $HOME/build.properties
  - echo "junit.lib=$HOME/extension.lib.external/junit-4.12.jar:$HOME/extension.lib.external/hamcrest-core-1.3.jar" >> $HOME/build.properties
  - echo 'jdbc.driver.jar=/usr/share/java/mysql.jar' >> $HOME/build.properties
  - echo 'db.driver=com.mysql.jdbc.Driver' >> $HOME/build.properties
  - echo 'db.url=jdbc:mysql://localhost/ecltest?useSSL=false' >> $HOME/build.properties
  - echo 'db.user=root' >> $HOME/build.properties
  - echo 'db.pwd=root' >> $HOME/build.properties
  - echo 'db.platform=org.eclipse.persistence.platform.database.MySQLPlatform' >> $HOME/build.properties
  - echo 'server.name=wildfly' >> $HOME/build.properties
  - echo "wildfly.home=$HOME/wildfly-12.0.0.Final" >> $HOME/build.properties
  - echo 'wildfly.config=standalone-ee8.xml' >> $HOME/build.properties

script:
  - cat $HOME/build.properties
  - $ANT_HOME/bin/ant -f antbuild.xml build -Dfail.on.error=true
  - echo 'RUNNING TESTS, BE PATIENT...'
  - if [ "$TEST_TARGET" == "test-lrg-server" ]; then tar -x -z -C $HOME -f $HOME/extension.lib.external/wildfly-12.0.0.Final.tar.gz; fi
  - set -o pipefail
  - $ANT_HOME/bin/ant -f antbuild.xml -Dtest.fail.fast=true $TEST_TARGET | grep -E "\] Running |\] Tests run:"
