language: java
sudo: required

branches:
  except:
    - /^[12].[0-6].*/

addons:
  apt:
    sources:
      - mysql-5.7-trusty
    packages:
      - libmysql-java
      - mysql-server
      - mysql-client

env:
  global:
    - ANT_HOME=/usr/share/ant
    - M2_HOME=/usr/local/maven-3.5.2
  matrix:
    - TEST_TARGET=test-core
    - TEST_TARGET=test-jpa22
    - TEST_TARGET=test-moxy
    - TEST_TARGET=test-sdo
    - TEST_TARGET="test-jpa-jse test-ext test-jpql test-wdf test-jpars test-dbws test-dbws-builder test-osgi"

jdk:
  - oraclejdk8
  - oraclejdk9

cache:
  directories:
    - .autoconf
    - $HOME/.m2
    - $HOME/extension.lib.external

before_install:
  - sudo mysql_upgrade
  - sudo mysql -u root -e "use mysql; update user set authentication_string=PASSWORD('root') where User='root'; update user set plugin='mysql_native_password';FLUSH PRIVILEGES;CREATE DATABASE IF NOT EXISTS ecltest;"
  - sudo service mysql restart

install:
  - mkdir $HOME/extension.lib.external || true
  - wget -nc http://repo1.maven.org/maven2/junit/junit/4.12/junit-4.12.jar -O $HOME/extension.lib.external/junit-4.12.jar || true
  - wget -nc http://repo1.maven.org/maven2/org/hamcrest/hamcrest-core/1.3/hamcrest-core-1.3.jar -O $HOME/extension.lib.external/hamcrest-core-1.3.jar || true
  - wget -nc http://repo1.maven.org/maven2/org/jmockit/jmockit/1.35/jmockit-1.35.jar -O $HOME/extension.lib.external/jmockit-1.35.jar || true
  - wget -nc http://repo1.maven.org/maven2/org/hibernate/validator/hibernate-validator/6.0.7.Final/hibernate-validator-6.0.7.Final.jar -O $HOME/extension.lib.external/hibernate-validator-6.0.7.Final.jar || true
  - wget -nc http://repo1.maven.org/maven2/org/jboss/logging/jboss-logging/3.3.0.Final/jboss-logging-3.3.0.Final.jar -O $HOME/extension.lib.external/jboss-logging-3.3.0.Final.jar || true
  - wget -nc http://repo1.maven.org/maven2/org/glassfish/javax.el/3.0.1-b08/javax.el-3.0.1-b08.jar -O $HOME/extension.lib.external/javax.el-3.0.1-b08.jar || true
  - wget -nc http://repo1.maven.org/maven2/com/fasterxml/classmate/1.3.1/classmate-1.3.1.jar -O $HOME/extension.lib.external/classmate-1.3.1.jar || true

before_script:
  - env | sort
  - echo "extensions.depend.dir=$HOME/extension.lib.external" >> $HOME/build.properties
  - echo "junit.lib=$HOME/extension.lib.external/junit-4.12.jar:$HOME/extension.lib.external/hamcrest-core-1.3.jar" >> $HOME/build.properties
  - echo 'jdbc.driver.jar=/usr/share/java/mysql.jar' >> $HOME/build.properties
  - echo 'db.driver=com.mysql.jdbc.Driver' >> $HOME/build.properties
  - echo 'db.url=jdbc:mysql://localhost/ecltest?useSSL=false' >> $HOME/build.properties
  - echo 'db.user=root' >> $HOME/build.properties
  - echo 'db.pwd=root' >> $HOME/build.properties
  - echo 'db.platform=org.eclipse.persistence.platform.database.MySQLPlatform' >> $HOME/build.properties
  - if [ `java -version 2>&1|awk -F\" '/version/ {print $2}' | cut -d'.' -f1` -gt "8" ]; then echo 'additional.jvmargs=--add-modules java.xml.ws,java.xml.ws.annotation,java.corba' >> $HOME/build.properties; fi

script:
  - cat $HOME/build.properties
  - ant -f antbuild.xml build
  - echo 'RUNNING TESTS, BE PATIENT...'
  - set -o pipefail
  - ant -f antbuild.xml -Dtest.fail.fast=true $TEST_TARGET | grep -E "\] Running |\] Tests run:"
