<persistence xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence persistence_1_0.xsd" version="1.0">
    <persistence-unit name="composite-advanced" transaction-type="RESOURCE_LOCAL">
        <provider>
            org.eclipse.persistence.jpa.PersistenceProvider
        </provider>

        <jar-file>eclipselink-composite-advanced-model-member_1.jar</jar-file>
        <jar-file>eclipselink-composite-advanced-model-member_2.jar</jar-file>
        <jar-file>eclipselink-composite-advanced-model-member_3.jar</jar-file>

        <properties>
            <property name="eclipselink.composite-unit" value="true"/>
            <property name="eclipselink.session.customizer" value="org.eclipse.persistence.testing.models.jpa.composite.advanced.Customizer"/>
            <property name="eclipselink.persistence-context.reference-mode" value="WEAK"/>
            <property name="eclipselink.validate-existence" value="true"/>
			<property name="eclipselink.logging.parameters" value="true"/>
        </properties>
    </persistence-unit>
</persistence>
