<persistence xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence persistence_1_0.xsd" version="1.0">
    <persistence-unit name="%%default%%" transaction-type="%%transaction-type%%">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <%%datasource-type%%>%%data-source-name%%</%%datasource-type%%>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="eclipselink.target-server" value="%%server-platform%%"/>
            <property name="eclipselink.target-database" value="%%database-platform%%"/>
            <property name="eclipselink.weaving" value="%%server-weaving%%"/>
            <property name="eclipselink.validate-existence" value="true"/>
            <!--property name="eclipselink.logging.level" value="FINEST"/-->
            <property name="eclipselink.jdbc.allow-native-sql-queries" value="true"/>
        </properties>
    </persistence-unit>
    <persistence-unit name="MulitPU-1" transaction-type="%%transaction-type%%">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <%%datasource-type%%>%%data-source-name%%</%%datasource-type%%>
        <mapping-file>META-INF/case-sensitive-advanced-entity-mappings.xml</mapping-file>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="eclipselink.target-server" value="%%server-platform%%"/>
            <property name="eclipselink.target-database" value="%%database-platform%%"/>
            <property name="eclipselink.weaving" value="%%server-weaving%%"/>
            <property name="eclipselink.validate-existence" value="true"/>
            <!--property name="eclipselink.logging.level" value="FINEST"/-->
            <property name="eclipselink.jpa.uppercase-column-names" value="true"/>
            <property name="eclipselink.jdbc.allow-native-sql-queries" value="true"/>
        </properties>
    </persistence-unit>
    <persistence-unit name="MulitPU-2" transaction-type="%%transaction-type%%">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <%%datasource-type%%>%%data-source-name%%</%%datasource-type%%>
    </persistence-unit>
    <persistence-unit name="MulitPU-3" transaction-type="%%transaction-type%%">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <%%datasource-type%%>%%data-source-name%%</%%datasource-type%%>
    </persistence-unit>
    <persistence-unit name="MulitPU-4" transaction-type="%%transaction-type%%">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <%%datasource-type%%>%%data-source-name%%</%%datasource-type%%>
    </persistence-unit>
    <persistence-unit name="MulitPU-5" transaction-type="%%transaction-type%%">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <%%datasource-type%%>%%data-source-name%%</%%datasource-type%%>
    </persistence-unit>
</persistence>
