<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence
    http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd"
  version="2.1">
    <persistence-unit name="%%default%%" transaction-type="%%transaction-type%%">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <%%datasource-type%%>%%data-source-name%%</%%datasource-type%%>
        <class>org.eclipse.persistence.testing.models.jpa22.attributeconverter.AttributeConverterHolder</class>
        <class>org.eclipse.persistence.testing.models.jpa22.attributeconverter.AttributeConverter</class>
        <class>org.eclipse.persistence.testing.models.jpa22.entitylistener.EntityListenerHolder</class>
        <class>org.eclipse.persistence.testing.models.jpa22.entitylistener.EntityListener</class>
        <exclude-unlisted-classes>true</exclude-unlisted-classes>
    </persistence-unit>
</persistence>
