<persistence xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence persistence_1_0.xsd" version="1.0">
    <persistence-unit name="%%default%%" transaction-type="%%transaction-type%%">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <%%datasource-type%%>%%data-source-name%%</%%datasource-type%%>
        <mapping-file>META-INF/advanced-entity-mappings.xml</mapping-file>
        <mapping-file>META-INF/inherited-entity-mappings.xml</mapping-file>
        <mapping-file>META-INF/incomplete-nonowning-entity-mappings.xml</mapping-file>
        <mapping-file>META-INF/incomplete-owning-entity-mappings.xml</mapping-file>
        <mapping-file>META-INF/relationships-entity-mappings.xml</mapping-file>
        <mapping-file>META-INF/orm-annotation-merge-advanced-entity-mappings.xml</mapping-file>
        <mapping-file>META-INF/orm-annotation-merge-relationships-entity-mappings.xml</mapping-file>
        <mapping-file>META-INF/unidirectional-relationships-entity-mappings.xml</mapping-file>
        <mapping-file>META-INF/defaultlistener.xml</mapping-file>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="eclipselink.target-server" value="%%server-platform%%"/>
            <property name="eclipselink.target-database" value="%%database-platform%%"/>
            <property name="eclipselink.validate-existence" value="true"/>
            <property name="eclipselink.orm.validate.schema" value="true"/>
            <property name="eclipselink.weaving" value="%%server-weaving%%"/>
        </properties>
    </persistence-unit>
</persistence>
